<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=192.168.2.200;Initial Catalog=Array_ePrint180613;Persist Security Info=False;User ID=sa;Password=123456;MinPoolSize=5;MaxPoolSize=50"/>
  </connectionStrings>
  <appSettings>
    <add key="UploadPath" value="d:\test"/>
    <add key="listenport" value="7070"/>
    <add key="version" value="1.0.0.1"/>
    <add key="updatefilename" value="d:\test\update.zip"/>
  </appSettings>
</configuration>
